.chat {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.users {
  box-sizing: border-box;
  width: 20%;
  margin: 0;
  padding: 10px;
  border: 1px solid;

  list-style: none;
}

.self-user {
  color: red;
}

.messages-container {
  box-sizing: border-box;
  margin-left: 5px;
  width: calc(80% - 5px);
}

.messages {
  height: 500px;
  padding: 10px;

  overflow: scroll;
  border: 1px solid;
}

.message {
  padding: 5px;
}

.msg-sender {
  font-size: 12px;
}

.self {
  text-align: right;
}

.self .msg-sender {
  color: red;
}

.service {
  text-align: center;
  color: gray;
}

.msg-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 400px;
}

.msg-input {
  width: 300px;

  height: 15px;
  padding: 5px 10px;

  border: 1px solid;
  border-radius: 15px;

  font-size: 14px;
}

.msg-send {
  padding: 4px 6px;

  background-color: white;
  border: 1px solid;
  border-radius: 15px;

  font-size: 14px;
  cursor: pointer;
}

.login-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  top: calc(50vh - 75px);
  left: calc(50vw - 150px);

  width: 300px;
  height: 150px;

  box-sizing: border-box;
  padding: 20px;

  background-color: white;

  border: 1px solid;
  border-radius: 15px;
}

.name-input {
  height: 25px;
  padding: 5px;

  border: 1px solid;
  border-radius: 15px;

  font-size: 16px;
  text-align: center;
}

.login-btn {
  padding: 10px;

  background-color: white;
  border: 1px solid;
  border-radius: 15px;

  font-size: 16px;
  cursor: pointer;
}

.username-err {
  color: red;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0.4;
}

.hidden {
  display: none;
}